@layer notice {
    .notice {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 20px;
        background-color: var(--notice-background-color);
        color: rgba(var(--menu-text-color));
        position: fixed;
        top: 480px;
        left: 20px;
        height: 100px;
        z-index: 5;
        border-radius: 5px;
        animation: notice-animation 4s;
        animation-iteration-count: 1;
    }
}

@layer card {
    .card {
        display: flex;
        flex-direction: column;
        background-color: var(--card-background);
        border: 1px solid var(--border-color);
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 2px 4px var(--box-shadow);
        transition: transform 0.2s, box-shadow 0.2s;
        padding: 15px;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px var(--box-shadow);
    }

    .card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-bottom: 1px solid var(--border-color);
        max-width: 100%;
        max-height: 220px;
        border-radius: 10px 10px 7px 7px;
        flex-shrink: 0;
        margin-top: 2px;
    }

    .card .button {
        color: var(--button-text-color);
        border: 1px solid rgba(var(--color-blue), 1);
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        font-size: 10px;
        margin-top: auto;
    }

    .card .button:hover {
        background-color: var(--background-color);
        color: rgba(0, 150, 255, 1);
    }

    .card .title {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #2c3e50;
    }

    .card .author {
        font-size: 10px;
        margin-bottom: 15px;
        text-overflow: ellipsis;
        color: var(--card-author-color);
    }

    .card .book-info {
        font-size: 12px;
        color: var(--card-text-color);
        margin: 5px 0;
    }

    .image-container {
        position: relative;
        top: 0;
        left: 0;
    }

    .new {
        background-color: var(--new-text-color);
        color: var(--sticky-text-color);
        padding: 5px;
        width: 100px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        z-index: 1;
        top: 30px;
        left: 0;
    }

    .out-of-stock {
        background-color: var(--out-of-stock-color);
        color: var(--sticky-text-color);
        padding: 5px;
        width: 100px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        z-index: 1;
        top: 30px;
        left: 0;
    }

    .list_items > :nth-child(2n) {
        background-color: var(--card-background-two);
    }
}