body{
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
.book-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 0 auto;
    background: #f0f8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.book-card{
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    padding:15px;
}
.book-card:hover{
    transform: translateY(-5px); /* Nagetive moves up the y-axis and positive moves down the y-axis*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
